Node-Red.txt
[{"id":"a9f4a9bf.92bcb8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b0dc225b.95ab9","type":"twitter-credentials","z":"","screen_name":"weprot"},{"id":"ea044f94.cd8b6","type":"exec","z":"a9f4a9bf.92bcb8","command":"omxplayer /home/pi/Flagbased/tw/bell.mp3","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Sonido","x":1020,"y":400,"wires":[[],[],[]]},{"id":"6ed00560.dcb87c","type":"rpi-gpio out","z":"a9f4a9bf.92bcb8","name":"Luz Verde","pin":"7","set":true,"level":"0","freq":"","out":"out","x":970,"y":480,"wires":[]},{"id":"4ef97e0e.dcea","type":"trigger","z":"a9f4a9bf.92bcb8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":650,"y":480,"wires":[["6ed00560.dcb87c","a1d86251.1edb3"]]},{"id":"55df46e0.7fd7a8","type":"twitter in","z":"a9f4a9bf.92bcb8","twitter":"b0dc225b.95ab9","tags":"","user":"false","name":"Lectura Tweets","inputs":1,"x":520,"y":300,"wires":[["1fbdfba6.66ee94"]]},{"id":"a1d86251.1edb3","type":"delay","z":"a9f4a9bf.92bcb8","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":540,"wires":[["6ed00560.dcb87c","b4622f02.2a374"]]},{"id":"f70f0fa8.c3aa6","type":"e-mail","z":"a9f4a9bf.92bcb8","server":"smtp.mail.eu-west-1.awsapps.com","port":"465","secure":true,"name":"","dname":"Email notifications","x":1430,"y":260,"wires":[]},{"id":"c4311f1d.a7413","type":"function","z":"a9f4a9bf.92bcb8","name":"Configurar email","func":"msg.to = global.get('correos');\nmsg.topic = \"Nuevo tweet con caramelo a Gigas\";\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":260,"wires":[["f70f0fa8.c3aa6"]]},{"id":"fcc81e69.08d8","type":"exec","z":"a9f4a9bf.92bcb8","command":"python2.7 Flagbased/tw/motor2.py ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Motor","x":950,"y":320,"wires":[[],[],["9cf2fe9.fd8e3"]]},{"id":"b4622f02.2a374","type":"delay","z":"a9f4a9bf.92bcb8","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":600,"wires":[["6ed00560.dcb87c"]]},{"id":"458f011f.bc5e5","type":"file in","z":"a9f4a9bf.92bcb8","name":"Leer hashtags.txt","filename":"/home/pi/Flagbased/tw/hashtags.txt","format":"utf8","chunk":false,"sendError":false,"x":210,"y":380,"wires":[["a4b6fd1d.d3105"]]},{"id":"552f177c.5069a8","type":"debug","z":"a9f4a9bf.92bcb8","name":"Hashtags actualizados","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":220,"wires":[]},{"id":"739f9ca9.6f51c4","type":"e-mail in","z":"a9f4a9bf.92bcb8","name":"input mail","protocol":"IMAP","server":"imap.mail.eu-west-1.awsapps.com","useSSL":true,"port":"993","box":"INBOX","disposition":"None","repeat":"300","x":80,"y":820,"wires":[["572e1d57.e9e4f4","e1885eae.b91c5"]]},{"id":"572e1d57.e9e4f4","type":"switch","z":"a9f4a9bf.92bcb8","name":"Consulta de topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"***borrarGigas***","vt":"str"},{"t":"eq","v":"***configurarGigas***","vt":"str"},{"t":"eq","v":"***consultarGigas***","vt":"str"},{"t":"eq","v":"***mailGigas***","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":290,"y":840,"wires":[["6d10bf10.734f8"],["c312baad.b0b2a8"],["42d01501.9f089c"],["9efc79e0.c255a8"]]},{"id":"6d10bf10.734f8","type":"function","z":"a9f4a9bf.92bcb8","name":"payload en blanco","func":"msg.payload = '';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":780,"wires":[["8beadc39.6ec9"]]},{"id":"8beadc39.6ec9","type":"file","z":"a9f4a9bf.92bcb8","name":"Escribir en hashtags.txt","filename":"/home/pi/Flagbased/tw/hashtags.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":870,"y":780,"wires":[["9a57ddb3.2dcaf","1c46fab.574e205"]]},{"id":"9a57ddb3.2dcaf","type":"debug","z":"a9f4a9bf.92bcb8","name":"Nuevos datos","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1120,"y":840,"wires":[]},{"id":"c312baad.b0b2a8","type":"function","z":"a9f4a9bf.92bcb8","name":"payload con los nuevos datos","func":"//El primer elemento será el @usuario y el resto serán los #hashtags\n\n//Se creará un array que combinará el @usuario con cada uno de los #hashtags\n//obteniendo un string de la forma: \"@usuario #hashtag1,@usuario #hashtag2\"\n\n//Primero leemos el cuerpo del correo y guardamos los elementos separados por \"***\"\nht = msg.payload.split(\"***\");\n\n//Borramos lo anterior al primer elemento y lo posterior al último\nht.splice(0,1);\nht.pop();\n\n//Concatenamos el @usuario con cada hashtag\n//ht[0] será el @usuario y los demás ht[i] los #hashtags\nvar i;\nmsg.payload = '';\nfor (i=1;i<ht.length;i++){\n\tmsg.payload = msg.payload + \"@\" + ht[0] + \" #\" + ht[i] + \",\";\n}\n\n//Borramos la última coma ','\nmsg.payload = msg.payload.slice(0,msg.payload.length-1);\nreturn msg; ","outputs":1,"noerr":0,"x":580,"y":840,"wires":[["8beadc39.6ec9"]]},{"id":"a4b6fd1d.d3105","type":"function","z":"a9f4a9bf.92bcb8","name":"Borrar retornos de carro","func":"msg.payload = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm,\"\");\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":300,"wires":[["552f177c.5069a8","55df46e0.7fd7a8"]]},{"id":"66f58b0e.15e7e4","type":"e-mail","z":"a9f4a9bf.92bcb8","server":"smtp.mail.eu-west-1.awsapps.com","port":"465","secure":true,"name":"","dname":"Email notifications","x":1060,"y":900,"wires":[]},{"id":"42d01501.9f089c","type":"file in","z":"a9f4a9bf.92bcb8","name":"leer hashtags.txt","filename":"/home/pi/Flagbased/tw/hashtags.txt","format":"utf8","chunk":false,"sendError":false,"x":530,"y":900,"wires":[["7b6d17c0.43d4a8"]]},{"id":"7b6d17c0.43d4a8","type":"function","z":"a9f4a9bf.92bcb8","name":"Modificar asunto","func":"msg.topic = \"Consulta de hashtags\";\nmsg.to = global.get('correos');\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":900,"wires":[["66f58b0e.15e7e4"]]},{"id":"e1885eae.b91c5","type":"debug","z":"a9f4a9bf.92bcb8","name":"Mensaje original","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":290,"y":780,"wires":[]},{"id":"3adb3cad.6c46b4","type":"link in","z":"a9f4a9bf.92bcb8","name":"Update","links":["1c46fab.574e205"],"x":55,"y":380,"wires":[["458f011f.bc5e5"]]},{"id":"1c46fab.574e205","type":"link out","z":"a9f4a9bf.92bcb8","name":"Update hashtags","links":["3adb3cad.6c46b4"],"x":1055,"y":780,"wires":[]},{"id":"f0ab3d6b.3e95b","type":"inject","z":"a9f4a9bf.92bcb8","name":"Manual update","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":210,"y":460,"wires":[["458f011f.bc5e5","ec77f22e.aa10c","b559fdcc.f2bba","8b4b479d.cb3a78"]]},{"id":"1fbdfba6.66ee94","type":"trigger","z":"a9f4a9bf.92bcb8","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Bloqueo de  flow","x":750,"y":300,"wires":[["fcc81e69.08d8","4ef97e0e.dcea","dbf25249.20df8","77770b2a.86e324","c4311f1d.a7413"]]},{"id":"25ec4a0c.f9a146","type":"inject","z":"a9f4a9bf.92bcb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":160,"wires":[["1fbdfba6.66ee94"]]},{"id":"9cf2fe9.fd8e3","type":"function","z":"a9f4a9bf.92bcb8","name":"Reset true","func":"//Actualizamos la cuenta de eventos\nvar count = global.get('count');\ncount += 1;\nglobal.set('count',count);\nmsg.count = count;\n\n//Reseteamos el nodo de trigger\nmsg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":340,"wires":[["354af722.1c4af8","bfde4a47.601fb8"]]},{"id":"354af722.1c4af8","type":"link out","z":"a9f4a9bf.92bcb8","name":"Reset trigger","links":["912e42c.671b2c"],"x":1215,"y":340,"wires":[]},{"id":"912e42c.671b2c","type":"link in","z":"a9f4a9bf.92bcb8","name":"Reset","links":["354af722.1c4af8"],"x":575,"y":360,"wires":[["1fbdfba6.66ee94"]]},{"id":"ec77f22e.aa10c","type":"function","z":"a9f4a9bf.92bcb8","name":"Init count","func":"global.set('count',0);\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":460,"wires":[[]]},{"id":"bfde4a47.601fb8","type":"debug","z":"a9f4a9bf.92bcb8","name":"Count","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","x":1190,"y":420,"wires":[]},{"id":"76a2f7c9.7507e8","type":"switch","z":"a9f4a9bf.92bcb8","name":"10 tweets en 4 minutos","property":"count","propertyType":"global","rules":[{"t":"gt","v":"9","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1190,"y":140,"wires":[["1796db4.d8dbb25","91e06ccf.2d032"],["299cd4f1.eb27dc"]]},{"id":"dbf25249.20df8","type":"trigger","z":"a9f4a9bf.92bcb8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"4","extend":false,"units":"min","reset":"","bytopic":"all","name":"Control Spam","x":970,"y":140,"wires":[["76a2f7c9.7507e8"]]},{"id":"6e51b013.355d6","type":"debug","z":"a9f4a9bf.92bcb8","name":"RESET COUNT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1170,"y":200,"wires":[]},{"id":"299cd4f1.eb27dc","type":"function","z":"a9f4a9bf.92bcb8","name":"Reset Count","func":"//Reseteamos la cuenta a 0\nglobal.set('count',0);\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":200,"wires":[["6e51b013.355d6"]]},{"id":"912c58a.e110ba8","type":"link in","z":"a9f4a9bf.92bcb8","name":"","links":["1796db4.d8dbb25"],"x":455,"y":740,"wires":[["6d10bf10.734f8"]]},{"id":"1796db4.d8dbb25","type":"link out","z":"a9f4a9bf.92bcb8","name":"Reset Count","links":["912c58a.e110ba8"],"x":1375,"y":80,"wires":[]},{"id":"91e06ccf.2d032","type":"function","z":"a9f4a9bf.92bcb8","name":"Block and Reset","func":"//Reseteamos la cuenta a 0\nglobal.set('count',0);\n//Configuramos el email de aviso\nmsg.to = global.get('correos');\nmsg.topic = \"Expendedora de chicles bloqueada\";\nmsg.payload = \"Se han detectado 10 tweets consecutivos y se ha bloqueado la expendedora de chicles. Chequea los hashtags atacados y cámbialos.\";\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":120,"wires":[["f70f0fa8.c3aa6"]]},{"id":"b559fdcc.f2bba","type":"trigger","z":"a9f4a9bf.92bcb8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":280,"y":540,"wires":[["b5653363.cfbdb","e4c26738.959348"]]},{"id":"e4c26738.959348","type":"rpi-gpio out","z":"a9f4a9bf.92bcb8","name":"Luz Verde","pin":"7","set":true,"level":"0","freq":"","out":"out","x":510,"y":540,"wires":[]},{"id":"b5653363.cfbdb","type":"delay","z":"a9f4a9bf.92bcb8","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":600,"wires":[["e4c26738.959348","b76b49b0.fd9828"]]},{"id":"b76b49b0.fd9828","type":"delay","z":"a9f4a9bf.92bcb8","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":660,"wires":[["e4c26738.959348"]]},{"id":"77770b2a.86e324","type":"delay","z":"a9f4a9bf.92bcb8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":400,"wires":[["ea044f94.cd8b6"]]},{"id":"9efc79e0.c255a8","type":"function","z":"a9f4a9bf.92bcb8","name":"payload con los nuevos datos","func":"//Entre ambos \"***\"\" se encontrarán las direcciones de correo electrónico\n//a las que se enviarán las notificaciones\n\n//Primero leemos el cuerpo del correo y guardamos los elementos separados por \"***\"\n//Habrá 3 elementos, de los cuales nos interesa solo el del medio (indice 1).\n//Lo guardaremos en un archivo de texto...\nht = msg.payload.split(\"***\");\nmsg.payload = ht[1];\n\n// y también en una variable global\nvar correos;\ncorreos = ht[1];\nglobal.set('correos',correos);\nmsg.correos = correos;\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":960,"wires":[["29dbe946.c59a06"]]},{"id":"29dbe946.c59a06","type":"file","z":"a9f4a9bf.92bcb8","name":"Escribir en correos.txt","filename":"/home/pi/Flagbased/tw/correos.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":880,"y":960,"wires":[[]]},{"id":"8b4b479d.cb3a78","type":"file in","z":"a9f4a9bf.92bcb8","name":"Leer correos.txt","filename":"/home/pi/Flagbased/tw/correos.txt","format":"utf8","chunk":false,"sendError":false,"x":200,"y":220,"wires":[["9c2a02ed.59f0f"]]},{"id":"9c2a02ed.59f0f","type":"function","z":"a9f4a9bf.92bcb8","name":"Borrar retornos de carro","func":"msg.payload = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm,\"\");\nvar correos;\nglobal.set('correos',msg.payload);\nmsg.correos = correos;\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":160,"wires":[[]]},{"id":"a9a6560.3c1e0a8","type":"inject","z":"a9f4a9bf.92bcb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":700,"y":700,"wires":[["a937f34d.0f0e2"]]},{"id":"a937f34d.0f0e2","type":"function","z":"a9f4a9bf.92bcb8","name":"","func":"msg.payload = global.get('correos');\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":700,"wires":[["67aa66c0.095168"]]},{"id":"67aa66c0.095168","type":"debug","z":"a9f4a9bf.92bcb8","name":"global.correos","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":700,"wires":[]}]