Node-Red.txt
[{"id":"85d5dd6f.7a2a2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2351ab8f.dcae54","type":"twitter-credentials","z":"","screen_name":"weprot"},{"id":"62b1f799.9d4e08","type":"exec","z":"85d5dd6f.7a2a2","command":"omxplayer /home/pi/Downloads/sample.mp3","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Sonido","x":960,"y":400,"wires":[[],[],[]]},{"id":"45d617c5.ba29e8","type":"rpi-gpio out","z":"85d5dd6f.7a2a2","name":"Luz Verde","pin":"7","set":true,"level":"0","freq":"","out":"out","x":970,"y":480,"wires":[]},{"id":"e721d34f.18de3","type":"trigger","z":"85d5dd6f.7a2a2","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":650,"y":480,"wires":[["45d617c5.ba29e8","4841190d.b7bee8"]]},{"id":"9d2b8867.62d478","type":"twitter in","z":"85d5dd6f.7a2a2","twitter":"2351ab8f.dcae54","tags":"","user":"false","name":"Lectura Tweets","inputs":1,"x":520,"y":300,"wires":[["f2abe171.0d542"]]},{"id":"4841190d.b7bee8","type":"delay","z":"85d5dd6f.7a2a2","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":540,"wires":[["45d617c5.ba29e8","cebf3c14.3140c"]]},{"id":"e111dc1.f1eee2","type":"e-mail","z":"85d5dd6f.7a2a2","server":"smtp.mail.eu-west-1.awsapps.com","port":"465","secure":true,"name":"info@flagbased.com","dname":"to info Flagbased","x":1430,"y":260,"wires":[]},{"id":"839a62f8.7c65a","type":"function","z":"85d5dd6f.7a2a2","name":"Modificar asunto","func":"msg.topic=\"Nuevo tweet con caramelo a Gigas\";\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":260,"wires":[["e111dc1.f1eee2"]]},{"id":"d5b0a40c.2a4f58","type":"exec","z":"85d5dd6f.7a2a2","command":"python2.7 Flagbased/motor2.py ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Motor","x":950,"y":320,"wires":[[],[],["3a0c89d7.c5f376"]]},{"id":"cebf3c14.3140c","type":"delay","z":"85d5dd6f.7a2a2","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":600,"wires":[["45d617c5.ba29e8"]]},{"id":"2191dc61.de6e24","type":"file in","z":"85d5dd6f.7a2a2","name":"Leer hashtags.txt","filename":"/home/pi/Flagbased/hashtags.txt","format":"utf8","chunk":false,"sendError":false,"x":210,"y":380,"wires":[["2e44e79.fd1bb18"]]},{"id":"5a2a0b27.a5d5f4","type":"debug","z":"85d5dd6f.7a2a2","name":"Hashtags actualizados","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":220,"wires":[]},{"id":"2e52a7d1.d1ad58","type":"e-mail in","z":"85d5dd6f.7a2a2","name":"input mail","protocol":"IMAP","server":"imap.mail.eu-west-1.awsapps.com","useSSL":true,"port":"993","box":"INBOX","disposition":"None","repeat":"300","x":80,"y":740,"wires":[["1401b014.ebfe5","f37eef2a.0c811"]]},{"id":"1401b014.ebfe5","type":"switch","z":"85d5dd6f.7a2a2","name":"Consulta de topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"***borrar***","vt":"str"},{"t":"eq","v":"***configurar***","vt":"str"},{"t":"eq","v":"***consultar***","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":760,"wires":[["8cc332ca.733cd"],["87fa754a.780588"],["c1535175.3eacb"]]},{"id":"8cc332ca.733cd","type":"function","z":"85d5dd6f.7a2a2","name":"payload en blanco","func":"msg.payload = '';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":700,"wires":[["393a726d.c6c58e"]]},{"id":"393a726d.c6c58e","type":"file","z":"85d5dd6f.7a2a2","name":"Escribir en hashtags.txt","filename":"/home/pi/Flagbased/hashtags.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":870,"y":700,"wires":[["984eb0d3.67b15","c5b1312d.3a4ed"]]},{"id":"984eb0d3.67b15","type":"debug","z":"85d5dd6f.7a2a2","name":"Nuevos datos","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1120,"y":760,"wires":[]},{"id":"87fa754a.780588","type":"function","z":"85d5dd6f.7a2a2","name":"payload con los nuevos datos","func":"//El primer elemento será el @usuario y el resto serán los #hashtags\n\n//Se creará un array que combinará el @usuario con cada uno de los #hashtags\n//obteniendo un string de la forma: \"@usuario #hashtag1,@usuario #hashtag2\"\n\n//Primero leemos el cuerpo del correo y guardamos los elementos separados por \"***\"\nht = msg.payload.split(\"***\");\n\n//Borramos lo anterior al primer elemento y lo posterior al último\nht.splice(0,1);\nht.pop();\n\n//Concatenamos el @usuario con cada hashtag\n//ht[0] será el @usuario y los demás ht[i] los #hashtags\nvar i;\nmsg.payload = '';\nfor (i=1;i<ht.length;i++){\n\tmsg.payload = msg.payload + \"@\" + ht[0] + \" #\" + ht[i] + \",\";\n}\n\n//Borramos la última coma ','\nmsg.payload = msg.payload.slice(0,msg.payload.length-1);\nreturn msg; ","outputs":1,"noerr":0,"x":580,"y":760,"wires":[["393a726d.c6c58e"]]},{"id":"2e44e79.fd1bb18","type":"function","z":"85d5dd6f.7a2a2","name":"Borrar retornos de carro","func":"msg.payload = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm,\"\");\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":300,"wires":[["5a2a0b27.a5d5f4","9d2b8867.62d478"]]},{"id":"94a0cb1.f6b5f38","type":"e-mail","z":"85d5dd6f.7a2a2","server":"smtp.mail.eu-west-1.awsapps.com","port":"465","secure":true,"name":"info@flagbased.com","dname":"correo a info","x":1040,"y":820,"wires":[]},{"id":"c1535175.3eacb","type":"file in","z":"85d5dd6f.7a2a2","name":"leer hashtags.txt","filename":"/home/pi/Flagbased/hashtags.txt","format":"utf8","chunk":false,"sendError":false,"x":530,"y":820,"wires":[["2e82d323.d17d2c"]]},{"id":"2e82d323.d17d2c","type":"function","z":"85d5dd6f.7a2a2","name":"Modificar asunto","func":"msg.topic = \"Consulta de hashtags\";\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":820,"wires":[["94a0cb1.f6b5f38"]]},{"id":"f37eef2a.0c811","type":"debug","z":"85d5dd6f.7a2a2","name":"Mensaje original","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":290,"y":640,"wires":[]},{"id":"7a34e15a.85cb2","type":"link in","z":"85d5dd6f.7a2a2","name":"Update","links":["c5b1312d.3a4ed"],"x":55,"y":380,"wires":[["2191dc61.de6e24"]]},{"id":"c5b1312d.3a4ed","type":"link out","z":"85d5dd6f.7a2a2","name":"Update hashtags","links":["7a34e15a.85cb2"],"x":1055,"y":700,"wires":[]},{"id":"1f03ffe6.e0fc","type":"inject","z":"85d5dd6f.7a2a2","name":"Manual update","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":210,"y":460,"wires":[["2191dc61.de6e24","e860191f.179fe8"]]},{"id":"f2abe171.0d542","type":"trigger","z":"85d5dd6f.7a2a2","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Bloqueo de  flow","x":750,"y":300,"wires":[["d5b0a40c.2a4f58","62b1f799.9d4e08","e721d34f.18de3","887022cc.778fe"]]},{"id":"161ce8ed.e9e317","type":"inject","z":"85d5dd6f.7a2a2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":120,"wires":[["f2abe171.0d542"]]},{"id":"3a0c89d7.c5f376","type":"function","z":"85d5dd6f.7a2a2","name":"Reset true","func":"//Actualizamos la cuenta de eventos\nvar count = global.get('count');\ncount += 1;\nglobal.set('count',count);\nmsg.count = count;\n\n//Reseteamos el nodo de trigger\nmsg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":340,"wires":[["c10ae04f.3ef52","8ad7f85e.752808"]]},{"id":"c10ae04f.3ef52","type":"link out","z":"85d5dd6f.7a2a2","name":"Reset trigger","links":["78451444.87baec"],"x":1215,"y":340,"wires":[]},{"id":"78451444.87baec","type":"link in","z":"85d5dd6f.7a2a2","name":"Reset","links":["c10ae04f.3ef52"],"x":575,"y":360,"wires":[["f2abe171.0d542"]]},{"id":"e860191f.179fe8","type":"function","z":"85d5dd6f.7a2a2","name":"Init count","func":"global.set('count',0);\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":460,"wires":[[]]},{"id":"8ad7f85e.752808","type":"debug","z":"85d5dd6f.7a2a2","name":"Count","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","x":1190,"y":420,"wires":[]},{"id":"caf830d.f3507d","type":"switch","z":"85d5dd6f.7a2a2","name":"10 tweets en 4 minutes","property":"count","propertyType":"global","rules":[{"t":"gt","v":"9","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1190,"y":140,"wires":[["5531f73e.aace08","b601b0d2.49fe5"],["e1473996.1eb8c8"]]},{"id":"887022cc.778fe","type":"trigger","z":"85d5dd6f.7a2a2","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"4","extend":false,"units":"min","reset":"","bytopic":"all","name":"Control Spam","x":970,"y":140,"wires":[["caf830d.f3507d"]]},{"id":"2719ecc4.d8e614","type":"debug","z":"85d5dd6f.7a2a2","name":"RESET COUNT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1170,"y":200,"wires":[]},{"id":"e1473996.1eb8c8","type":"function","z":"85d5dd6f.7a2a2","name":"Reset Count","func":"//Reseteamos la cuenta a 0\nglobal.set('count',0);\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":200,"wires":[["2719ecc4.d8e614"]]},{"id":"769a007d.8966","type":"link in","z":"85d5dd6f.7a2a2","name":"","links":["5531f73e.aace08"],"x":455,"y":660,"wires":[["8cc332ca.733cd"]]},{"id":"5531f73e.aace08","type":"link out","z":"85d5dd6f.7a2a2","name":"Reset Count","links":["769a007d.8966"],"x":1375,"y":80,"wires":[]},{"id":"b601b0d2.49fe5","type":"function","z":"85d5dd6f.7a2a2","name":"Block and Reset","func":"//Reseteamos la cuenta a 0\nglobal.set('count',0);\n//Configuramos el email de aviso\nmsg.topic = \"Expendedora de chicles bloqueada\";\nmsg.payload = \"Se han detectado 10 tweets consecutivos y se ha bloqueado la expendedora de chicles. Chequea los hashtags atacados y cámbialos.\";\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":120,"wires":[["e111dc1.f1eee2"]]}]